aiohttp==3.7.4.post0
anyio==3.5.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudscraper==1.2.60
discord.py==1.7.3
fastapi==0.75.0
h11==0.13.0
httptools==0.4.0
idna==3.3
multidict==6.0.2
pydantic==1.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.17.1
typing-extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.1
wcwidth==0.2.5
websockets==10.2
yarl==1.7.2
